<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.buff.mapper.BoardMapper">

	<sql id="boardList">
		SELECT * FROM test.tb_board
	</sql>
	
	<select id="boardCnt" parameterType="BoardVO" resultType="int">
		SELECT COUNT(BOARD_ID) FROM test.tb_board WHERE BOARD_ID = #{board_id}
	</select>
</mapper>